{% extends 'base.html.twig' %}

{% block title %} Feedback {% endblock %}

{% block inicio %} {% endblock %}

{% block body %} 
    <h1>Congrats!!</h1>

    <p>Your {{ formType }} was send!</p>
{% endblock %}